@use "variables" as v;

body {
  @extend .flex-center;
  background-color: v.$background-color;
  color: white;
}

.dynamic-width {
  min-width: 20vw;
  width: 90%;
}

.nav-margin-compensate {
  margin-top: 80px;
}

.view-existing-blueprints {
  border-top: 0.05px solid !important;
  border-top-style: inset !important;
}

.view-existing-blueprints-header :hover, .view-table-header :hover {
  cursor: default !important;
}

.view-existing-blueprints-subheader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  padding: 0px 16px;
}

.create-blueprint-btn {
  display: none !important;
  border: 0.5px solid !important;
  min-width: 30px !important;
}

.create-blueprint-indicator {
  padding-left: 0px !important;
  padding-right: 8px !important;
}

.create-blueprint-qty-input {
  width: 80% !important; 
  min-width: 50px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.create-blueprint-input-container {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

@media screen and (min-width: v.$sm) {
  .dynamic-width {
    width: 70%;
  }
  .create-blueprint-btn {
    display: flex !important;
  }
  .create-blueprint-qty-input {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  .create-blueprint-indicator {
    padding-left: 4px !important;
    padding-right: 12px !important;
  }
}

@media screen and (min-width: v.$md) {
  .dynamic-width {
    width: 55%;
  }
  .create-blueprint-qty-input {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}

@media screen and (min-width: v.$lg) {
  .dynamic-width {
    width: 45%;
  }
}

@media screen and (min-width: v.$xl) {
  .dynamic-width {
    width: 35%;
  }
}
