{% extends "base.html" %} {% load static %} {% block title%}Register{%endblock%}
{% block content %}

<body>
  <style>
    body {
      background-color: #121212;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 10%;
    }
    img {
      max-height: 250px;
      margin-bottom: 1%;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    label {
      display: none;
    }
    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    input {
      width: 35vmax;
    }
    .helptext,
    ul {
      width: 35vmax;
    }
    button {
      margin-top: 5%;
    }
  </style>
  <img
    src="/static/inventory/img/St John Singapore Logo (Inverted, Transparent Background).png"
  />
  <p class="display-6">Register</p>
  {% if form.errors %}
  <div class="alert alert-danger">
    {% for field, errors in form.errors.items %} {% for error in errors %}
    <p>{{ field }}: {{ error }}</p>
    {% endfor %} {% endfor %}
  </div>
  {% endif %}
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</body>

{% endblock %}
